<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="SwpTestTool" fileName="SwpTestTool.log"
                     filePattern="SwpTestTool_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout>
                <pattern>%level\t%d{yyyy-MM-dd HH:mm:ss} %c: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="SwpTestTool"/>
        </Root>
    </Loggers>
</Configuration>